.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.img-container i {
  font-size: 2rem;
  color: #fff;
  transition: 0.25s;
}

.img-container i:hover {
  transform: scale(1.1);
}

.education {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  gap: 10px;
  color: #fff;
}

.education li {
  padding: 0;
}

.education li h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
  .img-container {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .img-container i {
    font-size: 1.5rem;
  }
}
