.skills {
  display: flex;
  justify-content: space-around;
  gap: 7px;
  padding: 0;
}

.acordeon.open .skills {
  padding: 1rem;
}

.personal_skills {
  text-align: left;
  padding: 0;
}

.personal_skills h3 {
  margin-bottom: 0.5rem;
}

.personal_skills ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

.personal_skills ul li {
  margin: 0;
  padding: 0;
}

.professional_skills h3 {
  margin-bottom: 0.5rem;
}

.professional_skills ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  padding-right: 5px;
  gap: 0.5rem;
}

.professional_skills ul li {
  margin: 0;
  padding: 0;
}

.professional_skills ul li i {
  font-size: 2rem;
  color: #fff;
  transition: 0.25s;
}

.professional_skills ul li i:hover {
  transform: scale(1.1);
}

.skills h3 {
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .skills {
    font-size: 0.5rem;
  }

  .personal_skills h3 {
    padding-right: 10px;
  }

  .professional_skills ul li i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .skills-imgs-container {
    padding-right: 15px;
  }
}
