@font-face {
  font-family: "neue-machina";
  src: url("./assets/fonts/NeueMachina-Regular.otf") format("otf");
}
.card {
  width: 70%;
  overflow-x: hidden;
  border: 0.6px solid #fff;
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.name-container h1 {
  font-size: 15px;
}
.card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 1;
  justify-content: center;
}

.card::before {
  content: "";
  background-image: url("./assets/imgs/top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  max-height: 100vh;
}

.card::after {
  content: "";
  background-image: url("./assets/imgs/top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: rotate(180deg);
}
.informations {
  text-align: left;
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}
.info-icon {
  font-size: 0.7rem;
  width: auto;
  height: auto;
  margin: 0;
  color: #fff;
}
.info-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: smaller;
  gap: 6px;
  margin: 0;
}
.profile-picture {
  border-radius: 217.97px;
  width: 6rem;
  height: 6rem;
  margin: auto;
  padding: 10px;
  z-index: 1;
}
#name {
  font-family: "neue-machina";
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.dio-icon-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dio-icon {
  font-size: 2.5rem;
  color: #fff;
  margin-right: 45px;
  transition: 0.25s;
}

.dio-icon:hover {
  color: rgba(85, 86, 158, 1);
}

/* Classes generalizadas para conteúdo de seções */
.content-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1.25rem;
  padding-bottom: 1rem;
  gap: 10px;
  color: #fff;
}

.content-list-item {
  padding: 0;
  margin: 0;
}

.content-list h2,
.content-list h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.content-list p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 420px) {
  .card {
    min-width: 289px;
  }
}
